#light-button{
	-fx-background-color: rgba(83,83,83);
	-fx-text-fill: white;
	-fx-font-size:14px ;
	-fx-text-alignment: CENTER;
}
#dark-button{
	-fx-background-color:rgba(67,67,67);
	-fx-text-fill: white;
	-fx-font-size:14px ;
	-fx-text-alignment: CENTER;
}
.button:hover{
 	-fx-background-coler:rgba(17,64,108);
}