 .button{
 	-fx-background-color:rgba(43,135,158) ;
 	-fx-text-fill: white ;
	-fx-font-size:14px ;
	-fx-text-alignment: CENTER ;
 }
 .button:hover{
 	-fx-background-coler:rgba(17,64,108);
 }
 .table-view {
 	-fx-base:#ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-font-size:14px;
    -fx-font-color-:#ffffff;
    -fx-background-color: #ffffff;
    -fx-table-header-border-color: #ffffff;
    -fx-padding: 5;
}
.label{
	-fx-font-size:14px;
}