#light-button{
	-fx-background-color: rgba(83,83,83);
	-fx-text-fill: white;
	-fx-text-alignment: CENTER;
}
#dark-button{
	-fx-background-color:rgba(67,67,67);
	-fx-text-fill: white;
	-fx-text-alignment: CENTER;
}
